body {
    margin: 0px;
}


.album img {
    width: 800px;
    display: block;
    padding-bottom:25px;
    margin-left: 300px;
}

h2 {
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

h3{
    color: lightgrey;
    font-size: 35px;
    text-align: center;
}

